<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Gwtpsample.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Jersey REST servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.gwtplatform.samples.basic.server.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Jersey REST servlet</servlet-name>
        <url-pattern>/a/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
